body {
  background-color: #70AD47 !important;
}

#main-container {
  margin-top: 1%;
}

#wegoheader {
  display: flex;
  justify-content: center;
}

.tab-content {
  padding: 2%;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.75);
}

#contact-bar {
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 12%;
}

.spacer {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.blue {
  background-color: #337Ab7;
}

.green {
  background-color: #70AD47;
}
