body {
  background-color: #70AD47 !important;
}

#main-container {
  margin-top: 1%;
  padding-bottom: 14%;
}

#wegoheader {
  display: flex;
  justify-content: center;
}

.image-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.science-text {
  width: 40%;
}

.tab-content {
  padding: 2%;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.75);
}

#contact-bar {
  padding-top: 10px;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 12%;
  width: 100%;
}

#form-message {
  display: flex;
  justify-content: center;
}

.spacer {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.blue {
  background-color: #337Ab7;
}

.green {
  background-color: #70AD47;
}

#center-stage-picture {
  transform: rotate(90deg);
}

.side-to-side-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
